node-red/blynk-gps-stream.json
[
    {
        "id": "e282d112.f1cb4",
        "type": "tab",
        "label": "blynk_gps_stream",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a10ca4b6.83e458",
        "type": "blynk-ws-in-write",
        "z": "e282d112.f1cb4",
        "name": "",
        "pin": "0",
        "pin_all": false,
        "client": "f6c287be.aaebc8",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c39f76cc.cac7e8",
                "70f00d36.2e9a74"
            ]
        ]
    },
    {
        "id": "c39f76cc.cac7e8",
        "type": "function",
        "z": "e282d112.f1cb4",
        "name": "",
        "func": "msg.payload = {\"name\":\"LoRa_Test_gig\", \"lat\":51.05, \"lon\":-1.35,\"speed\":0.2,\"track\":true,\"icon\":\"fa-motorcycle\",\"color\":\"green\",\"iconColor\": \"green\",\"weight\":15};\nmsg.payload.lat = msg.arrayOfValues[0];\nmsg.payload.lon = msg.arrayOfValues[1];\nmsg.payload.speed = msg.arrayOfValues[3];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 60,
        "wires": [
            [
                "1ab9f2b4.b5264d"
            ]
        ]
    },
    {
        "id": "70f00d36.2e9a74",
        "type": "function",
        "z": "e282d112.f1cb4",
        "name": "",
        "func": "msg.payload = msg.arrayOfValues[0] + ',' + msg.arrayOfValues[1] + ','+msg.arrayOfValues[3] + ',';\nvar time = new Date();\nvar hours,min,sec;\nhours = time.getHours();\nmin = time.getMinutes();\nsec = time.getSeconds();\nmsg.time = hours.toString()+':'+min.toString()+':'+sec.toString();\nmsg.payload = msg.payload + msg.time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "90684810.144af8"
            ]
        ]
    },
    {
        "id": "90684810.144af8",
        "type": "file",
        "z": "e282d112.f1cb4",
        "name": "",
        "filename": "C:\\Users\\rohit\\OneDrive\\Documents\\Range_test\\lora_nlg_from_phone13-01-2021.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 600,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab9f2b4.b5264d",
        "type": "link out",
        "z": "e282d112.f1cb4",
        "name": "LoRawan__range_test",
        "links": [
            "c3599915.053f78"
        ],
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "f6c287be.aaebc8",
        "type": "blynk-ws-client",
        "z": "",
        "name": "gps_dATA_LOG",
        "path": "ws://blynk-cloud.com/websockets",
        "key": "",
        "dbg_all": false,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": true
    }
]