node-red/mapping.json
[
    {
        "id": "b08239f3.0b1d88",
        "type": "tab",
        "label": "heat_map_lorawan",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22b8d45d.523f7c",
        "type": "file in",
        "z": "b08239f3.0b1d88",
        "name": "Data from Lora",
        "filename": "C:\\Users\\rohit\\OneDrive\\Documents\\Range_test\\New folder\\New folder\\lora_nlg13-01-2021.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "bdbb9ba8.23a818"
            ]
        ]
    },
    {
        "id": "4683d5e0.439c8c",
        "type": "inject",
        "z": "b08239f3.0b1d88",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "22b8d45d.523f7c",
                "748a22ba.2289dc",
                "43598586.8c01ec"
            ]
        ]
    },
    {
        "id": "bdbb9ba8.23a818",
        "type": "function",
        "z": "b08239f3.0b1d88",
        "name": "",
        "func": "var lora_str = msg.payload; //\"17.0705601,79.2620508,0.06,165.10,15:26:28,-54,8.2,2021-01-13T09:56:28.55435Z\";//msg.paylod;\nvar mapdata = lora_str.split(',');\nmsg.payload = {\"name\":\"LoRa_Test_gig\", \"lat\":51.05, \"lon\":-1.35,\"color\":\"blue\",\"icon\":\"fa-circle\"};\nmsg.payload.lat = mapdata[0];\nmsg.payload.lon = mapdata[1];\nvar rssi = mapdata[5];\nif(msg.payload.lon == 0.0){\n    \n    return;\n}\nif(msg.payload.lat == 0.0){\n    \n    return;\n}\nif(rssi >-50){\n    \n    msg.payload.color = \"green\"\n    \n}\nif(rssi <-50){\n    \n    msg.payload.color = \"red\"\n    \n}\n\n//msg.payload.speed = mapdata[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "dee6b23b.132c1"
            ]
        ]
    },
    {
        "id": "5a2cc223.96e18c",
        "type": "worldmap",
        "z": "b08239f3.0b1d88",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "4800",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "dee6b23b.132c1",
        "type": "worldmap-tracks",
        "z": "b08239f3.0b1d88",
        "name": "",
        "depth": "300",
        "layer": "combined",
        "x": 670,
        "y": 80,
        "wires": [
            [
                "5a2cc223.96e18c"
            ]
        ]
    },
    {
        "id": "748a22ba.2289dc",
        "type": "function",
        "z": "b08239f3.0b1d88",
        "name": "",
        "func": "msg.payload = {\"name\":\"GATEWAY\", \"lat\":17.0705735, \"lon\":79.26204};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "5a2cc223.96e18c"
            ]
        ]
    },
    {
        "id": "43598586.8c01ec",
        "type": "function",
        "z": "b08239f3.0b1d88",
        "name": "",
        "func": "msg.payload = {\n            \"name\": \"MyPolygon\",\n    \n            \"area\": [[[[17.0705637,79.2620364],[17.0705652,79.2620377],[17.0705641,79.2620426],[17.0705634,79.2620374],[17.0705641,79.2620292],[17.070564,79.2620331],[17.0705638,79.2620353],[17.0705633,79.2620361],[17.0705632,79.2620374],[17.0705617,79.2620598],[17.070556,79.2620858],[17.0705638,79.2620352],[17.0705685,79.2620461],[17.0705745,79.2620332],[17.0705712,79.2620384],[17.0705714,79.2620366],[17.0705722,79.2620336],[17.0705711,79.2620381],[17.0705731,79.2620314],[17.070574,79.2620317],[17.0705742,79.2620275],[17.0705707,79.2620392],[17.0705699,79.2620489],[17.0705725,79.2620387],[17.0705719,79.2620433],[17.07057,79.2620427],[17.0705707,79.2620392],[17.0705712,79.2620405],[17.0705709,79.2620408],[17.0705711,79.262039],[17.070569,79.26205],[17.0705707,79.262041],[17.0705728,79.2620257],[17.0705696,79.2620446],[17.07057,79.2620423],[17.0705707,79.2620406],[17.0705648,79.2620319],[17.0705654,79.2620474],[17.0705652,79.2620539],[17.0705651,79.2620435],[17.0705691,79.2620468],[17.07057,79.2619929],[17.0705575,79.2620785],[17.0705637,79.2620514],[17.0705503,79.2621025],[17.0705488,79.2620963],[17.0705515,79.2620807],[17.0705681,79.2620491],[17.0705667,79.2620533],[17.0705674,79.2620605],[17.0705659,79.2620552],[17.0705663,79.2620555],[17.0705659,79.2620547],[17.0705618,79.2620373],[17.0705585,79.2620579],[17.0705636,79.2620342],[17.0705628,79.2620493],[17.0705612,79.2620471],[17.070561,79.2620509],[17.070564,79.2620426],[17.0705651,79.2620316],[17.0705618,79.2620527],[17.0705649,79.2620309],[17.0705649,79.262031],[17.0705642,79.2620363],[17.0705655,79.2620265],[17.0705661,79.2620171],[17.0705653,79.2620287],[17.0705685,79.2620124],[17.0705544,79.2620334],[17.0705477,79.2620653],[17.0705438,79.2620948],[17.0705662,79.2620203],[17.0705164,79.2619504],[17.0705592,79.2620373],[17.0705681,79.262024],[17.0705684,79.2620165],[17.0705759,79.2619877],[17.0705678,79.2620521],[17.0705724,79.2620348],[17.070568,79.2620664],[17.0705626,79.2620847],[17.0705758,79.2620729],[17.0705086,79.2620391],[17.0704955,79.2620488],[17.0705285,79.2621209],[17.0705438,79.2621621],[17.0705425,79.2621782],[17.0702249,79.2619572],[17.0703934,79.2621194],[17.0704891,79.2621415],[17.070529,79.2621752],[17.0706086,79.2625125],[17.0706641,79.2626938],[17.0705023,79.2628169],[17.0702166,79.2629188],[17.0699585,79.2630045],[17.0696491,79.2631411],[17.0694328,79.2632655],[17.0694325,79.2634714],[17.0694683,79.263554],[17.0694928,79.2636246],[17.0692163,79.263754],[17.0688944,79.2638798],[17.0686175,79.263993],[17.0683577,79.2640407],[17.0680281,79.2641994],[17.0676913,79.2643254],[17.0672598,79.2645054],[17.0669506,79.2646145],[17.0666824,79.264744],[17.0664242,79.2648266],[17.0634654,79.2660746],[17.0632821,79.2661834],[17.0631237,79.2662306],[17.0625887,79.266432],[17.0541123,79.2689487],[17.0591517,79.2665317],[17.0597795,79.2658679],[17.0600536,79.2656865],[17.0603228,79.2655648],[17.0605899,79.2654769],[17.0609289,79.2652646],[17.0610847,79.2652825],[17.0611824,79.2655377],[17.0611885,79.2655234],[17.0611298,79.2652081],[17.0610424,79.2648783],[17.0610304,79.2647447],[17.060894,79.2644383],[17.0608032,79.2641151],[17.0606513,79.2638086],[17.0606137,79.263582],[17.0606709,79.2634124],[17.060696,79.2631459],[17.0606927,79.2630346],[17.0607149,79.2628569],[17.0607879,79.2626138],[17.0607687,79.2624827],[17.0608019,79.2623096],[17.060881,79.262036],[17.0609917,79.2617032],[17.0610434,79.261479],[17.061104,79.2611309],[17.0611756,79.2608994],[17.0613112,79.2606189],[17.0614273,79.2604051],[17.0616081,79.2600965],[17.0618758,79.2596399],[17.0620273,79.2593894],[17.0622158,79.2591404],[17.0622924,79.2590013],[17.062556,79.2588255],[17.0627328,79.2589879],[17.0629832,79.2591158],[17.0631568,79.258891],[17.0632912,79.2586081],[17.0635478,79.2580742],[17.0636121,79.2575979],[17.0638106,79.2569401],[17.0639862,79.2564317],[17.0640535,79.2561568],[17.0640331,79.2559632],[17.0642456,79.2555864],[17.0642695,79.2550164],[17.0643259,79.2547253],[17.0647426,79.2542172],[17.0649888,79.2542073],[17.0658762,79.2543369],[17.0681947,79.2550146],[17.0683015,79.2550533],[17.067922,79.2565787],[17.0678164,79.25702],[17.0677748,79.2572006],[17.0677235,79.2575279],[17.0677215,79.2576094],[17.0672929,79.2576151],[17.067234,79.2579333],[17.0671436,79.2584204],[17.0672799,79.2584497],[17.0679201,79.258527],[17.0681847,79.2585536],[17.0682994,79.2587657],[17.0683415,79.259053],[17.0683627,79.2593414],[17.0683857,79.2596014],[17.0684238,79.2597923],[17.0685142,79.2603362],[17.0685788,79.2608949],[17.0687346,79.2611086],[17.0690779,79.2610545],[17.069293,79.2612003],[17.0695648,79.2612826],[17.0696962,79.2612805],[17.0702062,79.2613929],[17.0705174,79.2614831],[17.0709193,79.2615722],[17.0714025,79.2616989],[17.0715113,79.2617147],[17.071643,79.2614294],[17.0736311,79.2617198],[17.0755607,79.2610874],[17.0755649,79.2610996],[17.075565,79.2611],[17.0738371,79.2619115],[17.0740394,79.2637785],[17.0728279,79.2643409],[17.0722891,79.2643685],[17.0722223,79.2644776],[17.0721966,79.2648355],[17.0721714,79.2657601],[17.071866,79.2658025],[17.0712633,79.2658878],[17.0709281,79.2660159],[17.0706093,79.2660005],[17.0703118,79.2660722],[17.0700205,79.2661132],[17.0700506,79.2665492],[17.0700872,79.266992],[17.069861,79.2677575],[17.069855,79.267755],[17.0698912,79.2677805],[17.0701666,79.2679765],[17.0703941,79.2681883],[17.0703906,79.2685563],[17.070408,79.2688675],[17.0705044,79.2689251],[17.0707969,79.2689401],[17.0710315,79.2689874],[17.0712419,79.2691972],[17.0714377,79.2693689],[17.0717039,79.2696118],[17.0719122,79.2697969],[17.0717242,79.2697048],[17.0717579,79.2696493],[17.0715406,79.2694989],[17.0712712,79.2692882],[17.0710622,79.2690624],[17.0704916,79.2690233],[17.070369,79.2688659],[17.0704424,79.2683399],[17.0700891,79.2679541],[17.0694297,79.2668934],[17.0692851,79.2666797],[17.0691499,79.2666229],[17.0689356,79.266276],[17.0691677,79.2661187],[17.0693417,79.2662671],[17.0693747,79.2665246],[17.0691798,79.2666636],[17.0690114,79.266372],[17.0689179,79.2661615],[17.0689183,79.26616],[17.0688503,79.2660049],[17.0688545,79.2656329],[17.0693659,79.2653808],[17.0696564,79.2652909],[17.0698117,79.2651476],[17.0697203,79.2646836],[17.0696494,79.2641331],[17.0695844,79.2637395],[17.0696217,79.2635467],[17.0701876,79.263295],[17.0707046,79.2630566],[17.0706821,79.2629529],[17.0706676,79.2627305],[17.070582,79.2624978],[17.0705983,79.262243],[17.0706071,79.262215],[17.0706711,79.2621146],[17.0705554,79.262083],[17.0705667,79.2620983],[17.0706237,79.2622148],[17.0707209,79.2619768],[17.0706301,79.2622091],[17.0706527,79.2620978],[17.0707248,79.2620208],[17.0706736,79.262083],[17.0705432,79.2621223],[17.0705553,79.262117],[17.0705492,79.2620934],[17.0705497,79.2620853],[17.0705583,79.2620667],[17.0705575,79.2620444],[17.0705528,79.2621033],[17.0705639,79.2620437],[17.0705613,79.2620576],[17.0705558,79.2620486],[17.0705603,79.2620494],[17.0705601,79.2620508],[17.0705639,79.262039],[17.0705624,79.2620493]]]],\n    \n       \n        \n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "5a2cc223.96e18c"
            ]
        ]
    },
    {
        "id": "2f8b8071.71ee1",
        "type": "function",
        "z": "b08239f3.0b1d88",
        "name": "",
        "func": "msg.payload = {\n    \"name\": \"Myline\",\n    \"layer\": \"Lines\",\n    \"color\": \"#0000ff\",\n    \"weight\": \"6\",\n    \"dashArray\": \"30 20\",\n    \"geojson\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [[0,0]]\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 360,
        "wires": [
            []
        ]
    }
]